<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <h2 class="mb-3">Find nurses by name</h2>
          <img src="img/icon.jpg" alt="nurse ilustration" class="result-img me-200" />
          <form #nurseFindForm="ngForm" (ngSubmit)="onSearch()">
            <div class="mb-3 text-start">
              <label for="usernameInput" class="form-label">Nurse Name:</label>
              <input type="text" id="usernameInput" class="form-control" placeholder="Write the name here"
                name="username" [(ngModel)]="username" required minlength="3" #nameCtrl="ngModel" />
              @if (nameCtrl.invalid && (nameCtrl.dirty || nameCtrl.touched)) {
              <div class="text-danger mt-1">
                @if (nameCtrl.errors?.['required']) {
                <span>The name is mandatory.</span>
                }
                @if (nameCtrl.errors?.['minlength']) {
                <span>The name must have at least 3 letters.</span>
                }
              </div>
              }
            </div>
            <button type="submit" class="btn btn-success w-100" [disabled]="!nurseFindForm.valid">
              Search
            </button>
          </form>
 
          <!-- Resultados de búsqueda -->
          @if (searchResults.length > 0) {
          <div class="search-results mt-4">
            <h4 class="text-center mb-3">Results:</h4>
            <ul class="list-group">
              @for (nurse of searchResults; track nurse.name) {
              <li class="list-group-item">
                {{ nurse.name }}
              </li>
              }
            </ul>
          </div>
          }
          <br><a class="btn btn-primary w-100 mb-3" routerLink="/">Home</a>

          <!-- Mensaje si no hay resultados -->
          @if (searchResults.length === 0 && username.trim() && nurseFindForm.submitted) {
          <div class="mt-4 text-center">
            <p class="text-muted">No nurses were found with that name.</p>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>