<a routerLink="" class="home-btn" aria-label="Inicio">Home</a>

<h1>Lista de Enfermeros</h1>
<button class="toggleList" (click)="toggleList()">{{ showList ? 'Hide nurses' : 'Show nurses' }}</button>
<!--Pruebas para el register-->
<button class="toggleList" (click)="refresh()">'Refresh'</button>

@if (showList) {
<div>
  <ul>
    @for (nurse of nurses; track $index) {
    <li>
      <img [src]="nurse.image" alt="{{ nurse.name }}'s image">
      <div class="nurse-info">
        <div class="nurse-id">{{ nurse.id }} - {{ nurse.name }}</div>
        <div class="nurse-email">{{ nurse.email }}</div>
      </div>
    </li>
    } @empty {
    <li>No Nurses</li>
    }
  </ul>
</div>
}
<figure class="joker-figure">
  <img class="joker-img" src="img/Joker.jpeg" alt="Nurse Joker Image">
</figure>